<ion-card>
  <div class="buyButton" *ngIf="!isOwnCourse">
    <ion-button (click)="onBuyCourse()">
      <ion-icon name="cart"></ion-icon>
      Comprar
    </ion-button>
  </div>
  <div class="buyButton" *ngIf="isBuyCourse">
    <ion-button>
      <ion-icon name="checkmark"></ion-icon>
      Comprado
    </ion-button>
  </div>
  <div class="buyButton" *ngIf="isOwnCourse">
    <ion-button (click)="updateCourse()">
      <ion-icon name="refresh"></ion-icon>
      Actulizar
    </ion-button>
    <ion-button (click)="presentAlert()">
      <ion-icon name="trash"></ion-icon>
      Borrar
    </ion-button>
  </div>
  <img alt="Banner Course" src="https://i.ytimg.com/vi/2jxc8DMzt0I/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCqLJsLfQimmAM7a_YY83HfIuTUBw" />
  <ion-card-header>
    <ion-card-title>{{course.name}}</ion-card-title>
    <ion-card-subtitle>Autor: {{course.author}}</ion-card-subtitle>
    <ion-text color="primary" class="price">
      {{course.price}}€
    </ion-text>
  </ion-card-header>

  <ion-card-content>
    {{course.description}}
  </ion-card-content>
</ion-card>