<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Todos los cursos</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Filtrar cursos..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <course-item *ngFor="let course of courses" [course]="course"></course-item>
  <div class="txtEmpty">
    <ion-text *ngIf="courses.length == 0">No hay cursos en venta!</ion-text>
  </div>
</ion-content>
