<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis cursos</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Filtrar cursos..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <course-item *ngFor="let course of courses" [course]="course" [buy]="true" (refresh)="refreshCourses()"></course-item>
  <div class="txtEmpty">
    <ion-text *ngIf="courses.length == 0">No has comprado ningún curso aún!</ion-text>
  </div>
</ion-content>
